<div class="container-fluid">
                <div class="row">
				   <div class="col-xs-12 alignCenter ">
				         <h3>Video To Text</h3>
				   </div>					
               	</div><!-- .row end -->
               	<div class="row">
               		<div class="col-xs-12">
               			<div class="col-xs-3">
               				<button class="btn btn-primary" ngf-select ngf-drop ng-model="files" ngf-model-invalid="invalidFiles" ng-click="resetData()">Select File</button>             		               				
               			</div>
               			<div class="col-xs-3">
               				<button class="btn btn-primary" ng-click="uploadFile()">Process</button>
               			</div>
               			<div class="col-xs-6">
               				<div class="col-xs-3"></div>
               				<div class="col-xs-6 paddingClass rightAlign"><strong>Choose Language :</strong></div>
               				<div class="col-xs-3">
               			    	<select class="form-control pull-right" style="width: 120px;" ng-model="selectedDestinationlanguage" ng-options="x for x in language"></select>       	               				
               				</div>
               			</div>
               		</div>
               	</div>
                <div class="divloading"  ng-show="isProcessing"></div>
                <div class="row">
                	
                		<div class="col-sm-12 col-md-4 col-lg-4">
							<h5><strong>Source Video</strong></h5>
					      	<video width="100%" src="" controls></video>   
					      	<video controls="controls" id="videoPlayer" >
                		</div>
                		<div class="col-sm-12 col-md-4 col-lg-4 scrollbar-ripe-malinka" style="overflow-y: scroll;height: 400px;border-left: 1px solid #ccc;" id="sourceTextDiv">
                    	   <h5><strong>{{selectedSourcelanguage}} Text</strong></h5>
					       {{sourceText}}                		
                		</div>
                		<div class="col-sm-12 col-md-4 col-lg-4 scrollbar-ripe-malinka" style="overflow-y: scroll;height: 400px;" id="destinationTextDiv">
                    	   <h5><strong>{{selectedDestinationlanguage}} Text</strong></h5>
					       {{destinationText}}
                		
                	</div>
                </div>
                <div class="row">
                	
                		<div class="col-sm-12 col-md-4 col-lg-4"></div>
                		<div class="col-sm-12 col-md-4 col-lg-4">
	              			<a ng-href="{{ sourceFileUrl }}" download="{{videofileName}}_{{selectedSourcelanguage}}_{{today}}.txt">
	             				<button class="btn btn-primary pull-right">Download</button>
	             			</a>
                		</div>
                		<div class="col-sm-12 col-md-4 col-lg-4">
	             			<a ng-href="{{ destinationFileUrl }}" download="{{videofileName}}_{{selectedDestinationlanguage}}_{{today}}.txt">
	             				<button class="btn btn-primary pull-right">Download</button>
	             			</a>
                		</div>
                
                </div>
                <br>
    </div> <!-- container fluid -->