<div class="container-fluid">
   <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6 alignCenter ">
         <h3>Rumours Video List</h3>
      </div>
      <div class="col-xs-3 alignCenter paddingClass">
         <button type="button" class="btn btn-primary pull-right">
         <a ui-sref="homeParent.videoToText" style="display: block; color: white; text-decoration: none;">Back</a>
         </button>				   
      </div>
   </div>
   <!-- .row end -->
   <div class="row">
      <div class="col-xs-12">
         <div class="col-xs-3">
            showing 
            <select ng-model='selected.rowLimit' ng-options=' option for option in rowLimitOptionArray' required></select>
            entries
         </div>
         <div class="col-xs-5 rightAlign">
            <!--div class="col-xs-2 paddingClass">From :</div>
               <div class="col-xs-4">
               	<input type="text" placeholder="DD-MM-YYYY" class=" form-control" ng-model="startDate" />
               </div>
               <div class="col-xs-2 paddingClass">To :</div>
               <div class="col-xs-4">
               	<input class=" form-control" type="text" placeholder="DD-MM-YYYY" ng-model="endDate" />
               </div-->
         </div>
         <div class="col-xs-4 rightAlign">
            <div class="col-xs-3 paddingClass">Search :</div>
            <div class="col-xs-9">
               <input type="text" class="search-query form-control"
                  placeholder="Search" ng-model="searchText" />
            </div>
         </div>
      </div>
   </div>
   <br>
   <table>
      <thead>
         <tr>
            <th>Video Name</th>
            <th>Date</th>
            <th>Model Score</th>
            <th>Rumours Keyword</th>
            <th>View</th>
         </tr>
      </thead>
      <tr dir-paginate="request in list = ( videoList  | filter: searchText | orderBy: 'date' |itemsPerPage:selected.rowLimit )">
         <td>{{request.video_name}}</td>
         <td >{{request.date}}</td>
         <td >{{request.score}}</td>
         <td ><li ng-repeat="keyword in request.keywords" style="display:inline"> {{keyword}},</li> </td>
         
         <td >
            <button type="button"  class="btn btn-warning btnModified" ng-click="getVideoAndDisplayRumour(request.date)" style="width:50px">
           	 <a ui-sref="homeParent.videoToText" style="display: block; color: white; text-decoration: none;">View</a>
            </button>
         </td>
      </tr>
      <tr>
         <td colspan='5' ng-if=" list.length === 0">No Records Found</td>
      </tr>
   </table>
   <br>
   <!--     Export <button class="btn btn-info" ng-click="export()">excel</button>
      <button class="btn btn-info" ng-click="exportpdf()">pdf</button> -->
   <div class="row">
      <div class="col-xs-12">
         <div class="col-xs-4">
            <dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
         </div>
         <div class="col-xs-8 rightAlign">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
         </div>
      </div>
   </div>
   <br>            
</div><!-- container fluid -->