<div class="container-fluid">
   <div class="row">
      <div class="col-xs-3 alignCenter paddingClass">
          <!--button type="button" class="btn btn-primary pull-right" disabled="isdisablebackToVideoList">
        	 <a ui-sref="homeParent.rumoursVideoList" style="display: block; color: white; text-decoration: none;">Back To VideoList</a>
         </button-->  
         <button type="button" class="change" data-toggle="modal" data-target="#videoSourceModal" ng-click="reset();"data-backdrop="false">
        	 <span class="glyphicon glyphicon-plus"></span> 
         </button> 
         <p class="alignCenter"><b>Add Video Source</b></p>        				                  
      </div>
      <div class="col-xs-6 alignCenter ">
         <h3>Video To Text</h3>
      </div>
      <div class="col-xs-3 alignCenter paddingClass">
         <button type="button" class="change" ng-click="terminateProcess()" ng-show="isVideoUrl">
        	 <span class="glyphicon glyphicon-remove" ></span> 
         </button> 
          <p class="alignCenter" ng-show="isVideoUrl"><b>Terminate Process</b></p>
      </div>
   </div>
   <!-- .row end -->
   <div class="row">   
	  <div class="col-xs-3">
			<button class="btn btn-primary" ngf-select ngf-drop ng-model="files" ngf-model-invalid="invalidFiles" ng-click="resetData()" ng-show="islocalVideo">Select File</button>    
			<!--label ng-show="isVideoUrl" class="pull-left">URL:</label-->
			 <strong ng-show="isVideoUrl" class="pull-left">Choose Channel :&nbsp&nbsp</strong>
			<!--input type="text" ng-model="youtubeVideoUrl" ng-show="isVideoUrl"-->
			<select  ng-show="isVideoUrl" class="form-control pull-left" style="width: 135px;" ng-model="selectedNewsChannel" ng-options="x for x in NewsChannel"></select>        		               				
	  </div>
	  <div class="col-xs-3">
			<button class="btn btn-primary" ng-click="uploadFile()" ng-show="islocalVideo">Process</button>
			<button class="btn btn-primary" ng-click="sendLiveUrl()" ng-show="isVideoUrl">Process</button>
	  </div>
	  <div class="col-xs-3 "></div>
      <div class="col-xs-3">
         <strong>Choose Language :</strong>
         <select class="form-control pull-right" style="width: 120px;" ng-model="selectedDestinationlanguage" ng-options="x for x in language"></select>       	               				
      </div>
   </div>
   <div class="divloading"  ng-show="isProcessing"></div>
   <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
         <h5><strong>Source Video</strong></h5>
         <video width="100%" src={{hi}} controls ng-show="!islocalVideo && !issuspiciousVideo && !isVideoUrl"></video>
         <video id="localVideo" width="100%" ngf-src="!files[0].$error && files[0]" controls ng-show="islocalVideo"></video>
         <video id="suspiciousVideo" width="100%" src={{video_path}} controls ng-show="issuspiciousVideo || isVideoUrl" autoplay></video>
         <div>
         	<label>Video Date : </label>{{videoMetadata[0].date}}</br>
         </div>
         <div class="scrollbar-ripe-malinka" style="overflow-y: scroll;height:100px;" id="companyNameDiv" ng-hide="islocalVideo">
            <h5><strong>Company Name</strong></h5>
             <!--li class="capsule" ng-show="isVideoUrl"> {{company_names}}</li-->  
             <li class="capsule" ng-show="issuspiciousVideo || isVideoUrl" ng-repeat="company in videoMetadata[0].company_names" > {{company}}, </li>
         </div>
         <div class="scrollbar-ripe-malinka" style="overflow-y: scroll;height:100px;" id="rumoursKeywordDiv" ng-hide="islocalVideo">
            <h5><strong>Rumours Keyword</strong></h5>
            <!--li class="capsule" ng-show="isVideoUrl"> {{keywords}}</li-->   
            <li class="capsule" ng-show="issuspiciousVideo || isVideoUrl" ng-repeat="keyword in videoMetadata[0].keywords" > {{keyword}},</li> 
         </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 scrollbar-ripe-malinka" style="overflow-y: scroll;height: 475px;border-left: 1px solid #ccc;" id="sourceTextDiv">
         <h5><strong>{{selectedSourcelanguage}} Text</strong></h5>
         {{sourceText}}                		
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 scrollbar-ripe-malinka" style="overflow-y: scroll;height: 475px;" id="destinationTextDiv">
         <h5><strong>{{selectedDestinationlanguage}} Text</strong></h5>
         {{destinationText}}
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4"></div>
      <div class="col-sm-12 col-md-4 col-lg-4" ng-hide="isVideoUrl">
	      <a ng-href="{{ sourceFileUrl }}" download="{{videofileName}}_{{selectedSourcelanguage}}_{{today}}.txt">
	      <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-download-alt"></span></button>
	      </a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4" ng-hide="isVideoUrl">
	      <a ng-href="{{ destinationFileUrl }}" download="{{videofileName}}_{{selectedDestinationlanguage}}_{{today}}.txt">
	      <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-download-alt"></span></button>
	      </a>
      </div>
    </div>
   <br>
</div>
<!-- container fluid -->
<!-- Pop up Window -->
<div class="modal fade" id="videoSourceModal" role="dialog">
<div class="modal-dialog modal-sm">
   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title alignCenter">Video Source</h4>
      </div>
      <form name="form.videoSourceModalForm" ng-submit="addingVideoSource(video_Source)" novalidate>
         <div class="modal-body">
            <div class="form-group"> 
               <input type="radio" class="radio-inline" ng-model="video_Source" value="video_url" required>&nbsp &nbsp<label>Live URL </label></br>
               <input type="radio" class="radio-inline" ng-model="video_Source" value="rumours_video">&nbsp &nbsp<label> Suspicious Videos </label></br> 
               <input type="radio" class="radio-inline" ng-model="video_Source" value="local_video">&nbsp &nbsp<label> Local Videos </label>
               <!--div id="ifYes" style="display:none">
			        If yes, explain: <input type='text' id='yes' name='yes'><br>
			        What can we do to accommodate you?  <input type='text' id='acc' name='acc'>
		    	</div-->
            </div>
            <div class="modal-footer">
               <button type="submit" class="btn btn-primary pull-left" ng-disabled="form.videoSourceModalForm.$invalid">Next</button>	
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>							
            </div>
         </div>
      </form>
   </div>
</div>
</div>