<div class="form-gap" style="padding-top: 15%;"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="text-center">
						<img id="profile-img" class="profile-img-card" src="/scripts/app/login/avatar_2x.png" />
						</div>
						<br >
					<form ng-submit="login(credentials)" role="form" class="form" name="form">
						<div class="col-xs-12" ng-show="authenticationError && !authenticated">
							<div class="alert alert-danger"> <strong>Failed to sign in!</strong> Please check your credentials and try again. </div>
						</div>
						<input type="text" class="form-control" ng-model="credentials.username" placeholder="username" name="username" ng-pattern="/^(?=.*[a-zA-Z])[a-zA-Z0-9.]{5,}$/" required /> 
							<span style="color: Red; margin-top: 5px;" ng-show="form.username.$dirty&&form.username.$error.pattern" class="help-block" val-bubble>Atleast 5 characters,No
							special character is allowed</span> 
							<br >
							<input type="password" class="form-control" ng-model="credentials.password" placeholder="password" name="password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z][A-Za-z\d!@#$%^&*()_+]{7,40}$/" required="" /> 
							<span style="color: Red; margin-top: 5px;" ng-show="form.password.$dirty&&form.password.$error.pattern">
							Atleast 8 characters,with minimum 1 uppercase,lowercase,number,special character</span>
							<br >
							<span class="text-danger">{{ error }}</span>
						<button type="button" ng-click="reset()" class="btn btn-primary btn-md"> <b>Reset</b></button>
						<button type="submit" class="btn btn-primary btn-md pull-right" ng-disabled="form.username.$invalid || form.password.$invalid"> <b>Login</b></button>
					
						<br><br>
						<!--  <a ui-sref="reset-password" >Forgot Password</a>-->
						<!-- <a ui-sref="signup" class="pull-right"><b>Register</b> </a> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>