<div class="container-fluid" style="padding-left:0px;padding-right:0px;">
    <div class="col-xs-12">
        <div class="col-xs-3">
            <img src="images/bselogo.png" alt="bse logo">
        </div>
        <div class="col-xs-6 alignCenter">
            <h1 class="headingBse"><b>Social Media Analytics</b></h1>
        </div>
        <div class="col-xs-3 rightAlign" style="padding-right: 15px">
            <br>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <div class="dropdown-toggle hoverGrey" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong class="capitalize2">{{userName}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="fa fa-user fa-5x icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-right capitalize2">
                                            <strong>{{userName}}</strong>
                                        </p>
                                        <!--  email <p class="text-left small">correoElectronico@email.com</p>-->                                      
                                        <p class="text-right">
                                            <a ui-sref="changePassword" style="display: block;">Change Password</a>
                                        </p>
                                        <p class="text-right" ng-show="isSuperUser">
                                            <a ui-sref="parentRequest" style="display: block;">Requests</a>
                                        </p>
  										<p class="text-right" ng-show="isSuperUser">
											<a ui-sref="userAudit" style="display: block;">Audit Log</a>
										</p>
                                        <button type="submit" class="btn btn-primary btn-md pull-right">
											<a ui-sref="logout" style="display: block; color: white; text-decoration: none;"><b>Logout</b>
											</a>
										</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
	<div class="container-fluid">
	<div class="row">
     <div class="col-xs-12">
     	<div class="row" style="margin-top:10px;">
     		<button type="button" class="btn btn-warning" ng-class="{'activerequestbutton':menu.current=='all'}" style="width : 78px;height:34px;"><a ui-sref="parentRequest.all" style="display: block;color: white;text-decoration: none;">All</a></button>
			<button type="button" class="btn btn-success" ng-class="{'activerequestbutton':menu.current=='pending'}"><a ui-sref="parentRequest.pending" style="display: block;color: white; text-decoration: none;">Pending</a></button>
			<button type="button" class="btn btn-info" ng-class="{'activerequestbutton':menu.current=='approved'}"><a ui-sref="parentRequest.approved" style="display: block;color: white; text-decoration: none;">Approved</a></button>
			<button type="button" class="btn btn-danger" ng-class="{'activerequestbutton':menu.current=='rejected'}"><a ui-sref="parentRequest.rejected" style="display: block;color: white; text-decoration: none;">Rejected</a></button>
			<button type="button" class="btn btn-primary pull-right">
			<a ui-sref="homeParent.home" style="display: block; color: white; text-decoration: none;">Back</a>
			</button>
     	</div>	  
	</div> <!-- .col-12 --> 
	</div> <!--  Row -->
	<br>
    <toasty></toasty>
    <div ui-view></div>
    </div> <!-- container fluid -->
</div>