	<div class="container-fluid">
	<div class="row">
     <div class="col-xs-12">
     	<div class="row">
			<div class="col-xs-12 ">
				<div class="col-xs-4"></div>
					<div class="col-xs-3 alignCenter">
						<h3>Pending Request</h3> 
					</div>
				<div class="col-xs-4"></div>
			</div>
		</div>
		<div class="row">
		   	<div class="col-xs-12 ">
					<flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
			</div>
   		</div>
		<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-6">
				showing 
				<select ng-model='selected.rowLimit' ng-options=' option for option in rowLimitOptionArray' required></select>
				entries
			</div>
			<div class="col-xs-6 rightAlign">
				<div class="col-xs-3 paddingClass">Search :</div>
				<div class="col-xs-9">
					<input type="text" class="search-query form-control" placeholder="Search" ng-model="searchText" />
				</div>
			</div>
		</div>
	</div>
	<br>
		<table>
		<thead>
			<tr>
				<!-- <th><input type="checkbox" ng-model="selectAllRequest" ng-click="checkAllRequest()" /></th> -->
				<th>Request Id</th>
				<th>Requested By</th>
				<th>Requested Operation</th>
				<th>Existing Value</th>
				<th>Requested Value</th>
				<th>Media Type</th>
				<th>Category</th>
				<th>Comment</th> 
				<th>Action</th> 
			</tr>
		</thead>
		<tr dir-paginate="request in list = ( allRequestList |filter: searchText |itemsPerPage:selected.rowLimit | orderBy: 'id')">
			<td>{{request.id}}</td>
			<td>{{request.requestedBy}}</td>		
			<td>{{request.requestedOperation}}</td>
			<td ng-show="request.requestedOperation == 'ADD'">{{request.addexistingValue}}</td>
			<td ng-show="request.requestedOperation != 'ADD'">{{request.existingValue}}</td>
			<td ng-show="request.requestType.requestMedia == 'all'">{{request.companyrequestedValue}}</td>
			<td ng-show="request.requestType.requestMedia != 'all'">{{request.requestedValue}}</td>
			<td>{{request.requestType.requestMedia}}</td>
			<td>{{request.requestType.requestType}}</td>	
			<td><textarea rows="1" id="" ng-model="request.comment"></textarea></td>
			<td>
			 	<button class="btn btn-success btnModified" ng-disabled="!request.comment" ng-click="acceptRequest(request)" style="width:50px;"><b>Approve<b></b></button>&nbsp;
	         	<button class="btn btn-danger btnModified" ng-disabled="!request.comment" ng-click="rejectRequest(request)" style="width:50px;"><b>Reject<b></b></button>
			</td>		
		</tr>
		<tr><td colspan='9' ng-if=" list.length === 0">No Records Found</td></tr>
	</table>
	<br>
	Export <button class="btn btn-info" ng-click="export()">excel</button>
   <button class="btn btn-info" ng-click="exportpdf()">pdf</button>
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-4">
	       		<dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
		    </div>
			<div class="col-xs-8 rightAlign">
				<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
			</div>
		</div>
	</div>
	<br>		
	</div> <!-- .col-12 --> 
	</div> <!--  Row -->
    </div> <!-- container fluid -->
