<div class="container-fluid" style="padding-left:0px;padding-right:0px;">
    <div class="col-xs-12">
        <div class="col-xs-3">
            <img src="images/bselogo.png" alt="bse logo">
        </div>
        <div class="col-xs-6 alignCenter">
            <h1 class="headingBse"><b>Social Media Analytics</b></h1>
        </div>
        <div class="col-xs-3 rightAlign" style="padding-right: 15px">
            <br>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <div class="dropdown-toggle hoverGrey" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong class="capitalize2">{{userName}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="fa fa-user fa-5x icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-right capitalize2">
                                            <strong>{{userName}}</strong>
                                        </p>
                                        <!--  email <p class="text-left small">correoElectronico@email.com</p>-->
                                        <p class="text-right">
                                            <a ui-sref="changePassword" style="display: block;">Change Password</a>
                                        </p>
                                        <p class="text-right" ng-show="isSuperUser">
                                            <a ui-sref="parentRequest" style="display: block;">Requests</a>
                                        </p>
										<p class="text-right" ng-show="isSuperUser">
											<a ui-sref="userAudit" style="display: block;">Audit Log</a>
										</p>
                                        <button type="submit" class="btn btn-primary btn-md pull-right">
											<a ui-sref="logout" style="display: block; color: white; text-decoration: none;"><b>Logout</b>
											</a>
										</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
	<div class="container-fluid">
	<div class="row">
     <div class="col-xs-12">
     	<div class="row">
			<div class="col-xs-12 ">
				<div class="col-xs-4"></div>
					<div class="col-xs-4 alignCenter">
						<h3>Audit Log</h3> 
					</div>
				<div class="col-xs-4">
				<br/>
					<button type="button" class="btn btn-primary pull-right">
					<a ui-sref="homeParent.home" style="display: block; color: white; text-decoration: none;">Back</a>
					</button>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-3">
				showing 
				<select ng-model='selected.rowLimit' ng-options=' option for option in rowLimitOptionArray' required></select>
				entries
			</div>
			<div class="col-xs-5 rightAlign">
				<div class="col-xs-2 paddingClass">From :</div>
				<div class="col-xs-4">
					<input type="text" placeholder="DD-MM-YYYY" class=" form-control" ng-model="startDate" />
				</div>
				<div class="col-xs-2 paddingClass">To :</div>
				<div class="col-xs-4">
					<input class=" form-control" type="text" placeholder="DD-MM-YYYY" ng-model="endDate" />
				</div>
			</div>
			<div class="col-xs-4 rightAlign">
				<div class="col-xs-3 paddingClass">Search :</div>
				<div class="col-xs-9">
					<input type="text" class="search-query form-control"
						placeholder="Search" ng-model="searchText" />
				</div>
			</div>
		</div>
	</div>
	<br>
		<table>
		<thead>
			<tr>
				<!-- <th><input type="checkbox" ng-model="selectAllRequest" ng-click="checkAllRequest()" /></th> -->
				<th>Request Id</th>
				<th>Requested By</th>
				<th>Requested Date</th>
				<th>Actioned By</th>
				<th>Actioned Date</th>
				<th>Existing Value</th>
				<th>Requested Value</th>
				<th>Requested Operation</th>
				<th>Requested Media</th>
				<th>Requested Type</th>
				<th>Status</th>
			</tr>
		</thead>
		<tr dir-paginate="request in list = ( allRequestList  | filter: searchText | orderBy: 'id' | auditDateRangeFilter:startDate:endDate |itemsPerPage:selected.rowLimit )">
			<!-- <td><input type="checkbox" ng-model="request.select" ng-click="requestSetting(request.select)"></td> -->
			<td>{{request.id}}</td>
			<td>{{request.requestedBy}}</td>
			<td >{{request.requestedDate}}</td>
			<td >{{request.actionedBy}}</td>
			<td >{{request.actionedDate}}</td>
			<td ng-show="request.requestedOperation == 'ADD'">{{request.addexistingValue}}</td>
			<td ng-show="request.requestedOperation != 'ADD'">{{request.existingValue}}</td>
			<td ng-show="request.requestType.requestMedia == 'all'">{{request.companyrequestedValue}}</td>
			<td ng-show="request.requestType.requestMedia != 'all'">{{request.requestedValue}}</td>
			<td >{{request.requestedOperation}}</td>
			<td >{{request.requestType.requestMedia}}</td>
			<td >{{request.requestType.requestType}}</td>
			<td >{{request.requestStatus}}</td>
		</tr>
		<tr><td colspan='11' ng-if=" list.length === 0">No Records Found</td></tr>
	</table>
	<br>
	Export <button class="btn btn-info" ng-click="export()">excel</button>
   <button class="btn btn-info" ng-click="exportpdf()">pdf</button>
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-4">
	       		<dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
		    </div>
			<div class="col-xs-8 rightAlign">
				<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> </dir-pagination-controls>
			</div>
		</div>
	</div>
	<br>		
	</div> <!-- .col-12 --> 
	</div> <!--  Row -->
    </div> <!-- container fluid -->
</div>