.body{
	font-family: 'FontAwesome';
 padding-top:10%;
 margin: 40px 0;
 font: 10px;
 text-align: center;
}

.profile-img-card { /* login page profile */
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.headingBse{
	text-shadow: 0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff;
}
.alignCenter{
  text-align: center;
}
.row{
	padding-left:15px;
	padding-right:15px;
}
.col-xs-12,.col-xs-8, .col-xs-6, .col-xs-4, .col-xs-2, .col-xs-9, .col-xs-3{
  display: inline-block;
  padding: 0px;
}
.rightAlign{
  text-align: right;
}
.paddingClass{
  padding-top: 7px;
}
.capitalize::first-letter {
  text-transform: uppercase;
}
.capitalize2 {
  text-transform: capitalize;
}
.menuItems{
  vertical-align: top;
  background: linear-gradient(to bottom, black, blue);
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  cursor: pointer;
}
.navBar{
	background: blue;
	text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
.dropdown-toggle {
  display: block;
  cursor:pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  top: 20px;
  display: none;
  float: left;
}
.menuItems:hover {
	background: linear-gradient(to bottom, black, red);
}
.menuItems:hover .dropdown-menu{
  display: block;
}
.menuItems a{
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: white;
}
.navBar a{
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: black;
}

table{
  border-collapse: collapse;
  width: 100%;
}

td{
  border: 1px solid grey;
  text-align: center;
  font-size: 13px;
}

th{
  border: 1px solid grey;
  text-align: left;
  cursor: pointer;
  background: #CCC;
  text-align: center;
}
tr:nth-child(even) {background: #F0F0F0}
tr:nth-child(odd) {background: #FFF}

.arrow-up{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  display: inline-block;
}
.arrow-down{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
  display: inline-block;
}
.col-xs-1.menuItems.active{
  background: linear-gradient(to bottom, black, #17C808);/*green color*/
}
.col-xs-2.menuItems.active{
  background: linear-gradient(to bottom, black, #17C808);/*green color*/
}
.col-xs-4.navBar.active{
  background: white;
}
.col-xs-3.menuItems.active{
  background: linear-gradient(to bottom, black, #17C808);/*green color*/
}
.modal-backdrop {
  z-index: -1;
}

.btnModified{
	padding: 0px;
	font-size: 9px;
}
.change {
  background-color:#337ab7 ;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 17px;
}
button:focus {
  outline:0;
}
.glyphicon-plus{
  color:white;
}
.glyphicon-remove{
  color:white;
}
.required label:after{content:' *';color:red;}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.icon-size
{
    font-size: 87px;
}

.hoverGrey :focus {
  text-decoration: none;
  background-color: #eee;
}
.activerequestbutton{
  font-weight: bold;
  width : 86px;
  height : 35px;
  }
/* video to text css*/
.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; 
  }
.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #c4c4c4 0%, #ababab 100%);
  background-image: linear-gradient(120deg, #c4c4c4 0%, #ababab 100%); 
 }
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.divloading{
    display : block;
    position : absolute;
    z-index: 100;
    background-image : url('/images/loaderSmBlue.gif');
    background-color:rgba(0, 0, 0, 0.5);
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}





.videogular-container {
	width: 50%;
	height: 250px;
	margin: auto;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.videogular-container {
		width: 500px;
		height: 500px;
	}

	.videogular-container.audio {
		width: 1170px;
		height: 50px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}

	.videogular-container.audio {
		width: 940px;
		height: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}

	.videogular-container.audio {
		width: 728px;
		height: 50px;
	}
}
.capsule{
    display:inline;
}