<div class="container-fluid">
	<div class="row">
	   <div class="col-xs-12 ">
	      <div class="col-xs-3"> </div>
	      <div class="col-xs-6 alignCenter">
	         <h3>Web Source List</h3>
	      </div>
	   </div>
   </div>
   <div class="row">  
	   <div class="col-xs-12">
	      <div class="col-xs-6">
	         showing
	         <select ng-model='selected.rowLimit' required ng-options=' option for option in rowLimitOptionArray'></select>
	         <!--<input type="number" step="1" min="0" max="100" ng-model="rowLimit" />--> entries	
	      </div>
	      <div class="col-xs-6 rightAlign">
	         <div class="col-xs-3 paddingClass" >Search :</div>
	         <div class="col-xs-9"> <input type="text" class="search-query form-control" placeholder="Search Link" ng-model="searchText.link" />
	         </div>
	      </div>
	   </div>
   </div>
   <br>
   <table style="table-layout: fixed; ">
      <thead>
         <tr>
            <th  ng-click="sortData('link')" >RSS Link<div ng-class="getSortClass('link')"></div></th>
            <th  ng-click="sortData('site')">Website<div ng-class="getSortClass('site')"></div></th>
         </tr>
      </thead>
      <tr dir-paginate="webSource in list = ( webSourceList |filter: searchText|orderBy:sortColumn:reverseSort |itemsPerPage:selected.rowLimit) ">
         <td style="text-align: left;word-wrap: break-word;" >{{webSource.link}}</td>
         <td style="text-align: left;word-wrap: break-word;" ng-show="webSource.htmlUrl">{{webSource.htmlUrl}}</td>
         <td style="text-align: left;word-wrap: break-word;" ng-show="!webSource.htmlUrl">{{webSource.site}}</td>
      </tr>   <br>
      <tr><td colspan='2' ng-if=" list.length === 0">No Records Found</td></tr>
   </table>
   <br>
   Export <button class="btn btn-info" ng-click="export()">excel</button>
   <button class="btn btn-info" ng-click="exportpdf()">pdf</button>
   <div class="row">
	   <div class="col-xs-12">
			<div class="col-xs-4">
	       		<dir-pagination-controls template-url="scripts/app/rangePagination.html"></dir-pagination-controls>
		    </div>
	      <div class="col-xs-8 rightAlign">
			<dir-pagination-controls 
				max-size="10"
				direction-links="true"
				boundary-links="true" >
			</dir-pagination-controls>		 
	      </div>
	   </div>
   </div>
   <br>
</div>